<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Better Streets MKE</title>
    <meta name="viewport" content="Better Streets MKE" />
    <meta name="Description" content="Better Streets MKE" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Better Streets MKE" />
    <meta
      property="og:description"
      content=""
    />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <header class="usa-header usa-header--basic">
      <div class="usa-nav-container">
        <div class="usa-navbar">
          <div class="usa-logo">
            <a href="/" title="Better Streets MKE"><em class="usa-logo__text">Better Streets MKE</em></a>
          </div>
          <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
          <button type="button" class="usa-nav__close">
            <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
          </button>
          <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
              <a href="/vision_zero" class="usa-nav-link"><span>Vision Zero Dashboard</span></a>
            </li>
            <li class="usa-nav__primary-item">
              <a target="_blank" href="https://betterstreetsmke.substack.com" class="usa-nav-link"><span>Newsletter</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="main-content" class="bg-primary-lighter">
      <%= @inner_content %>
    </main>
  </body>
</html>
